{% extends 'core/base.html' %}

{% load static %}

{% block title %}Dashboard{% endblock title %}

{% block content %}
<div class="container">
    <h1 class="my-4">Babies</h1>
    <div class="row">
        {% for baby in babies %}
        <div class="col-lg-3 col-md-4 col-sm-6 col-12 mb-4">
            <a href="{% url 'core:baby_details' baby.id %}" class="text-decoration-none text-reset">
                <div class="card h-100 hover:shadow-sm" style="max-width: 14rem;">
                    <img src="{% static 'core/img/baby.png' %}" class="card-img-top" alt="baby">
                    <div class="card-body">
                        <h5 class="card-title">{{ baby }}</h5>
                        <div class='card-text'>
                            {% if baby.current_weight %}
                            <p>{{baby.current_weight}} kg</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock content %}